.MISbox{
    min-width: 400px;
    height: 500px;
    width: 50em;
    background-color: rgba(46, 46, 46, 0.637);
    filter: brightness(.9);
    position: absolute;
    top: 0;
    /* float: left; */
    margin-top: 210px;
    margin-left: 8px;
    border-radius: 5px 50px 5px;
    z-index: 10;
    /* overflow: scroll; */
}
.MISPosterbox{
    position: absolute;
    top: 0;
    margin-top: 250px;
    left: 50%;
    margin-left: 200px;
    height: 450px;

    width: 280px;
    background-color: rgba(255, 255, 255, 0.062);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 1px 1px 10px 1px #f3f3f379;
    border-radius: 10px;
}

@media only screen and (max-width: 1300px) and (min-width: 1000px) {
    .MISbox{
        width: 40em;
    }
   
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
    .MISbox{
        width: 30em;
    }
    .MISPosterbox{
        margin-left: 100px;
   

    }
   
}
@media only screen and (max-width: 800px) and (min-width: 750px) {
    .MISbox{
      width: 20em;
    }
    .MISPosterbox{
        margin-left: 70px;

    }
   
}
@media only screen and (max-width: 750px) and (min-width: 630px) {
    .MISbox{
      width: 20em;
    }
    .MISPosterbox{
        margin-left: 100px;
        height: 300px;
        width: 200px;

    }
   
}
@media only screen and (max-width: 630px) {
    .MISbox{
      width: 20em;
    }
    .MISPosterbox{
        display: none;

    }
   
}

.MISMovieTitle{
    color: white;
    font-size: 4em;
    text-transform: uppercase;
    /* background-color: rgb(102, 163, 132); */
    margin-top: 0;
    border-radius: 05px 50px 0px 0px;
    z-index: 10;
    
}

.MISMovieType{
    height: 70px;
    /* background-color: springgreen; */
    width: 25%;
    display: inline-block;
    margin-left: 4%;
    border-right: 5px solid #c7c6c6;
    border-radius: 2px;
    margin-top: 2%;
    padding-top: 1%;
    z-index: 10;
}

.MISMovieOverview{
    overflow: hidden;
    max-height: 30%;
    width: 90%;
    display: inline-block;
    margin-left: 4%;
    margin-top: 2%;
    z-index: 10;
    /* background-color: springgreen; */
}

.MISTypeHeading{
    color: #FF6565;
    z-index: 10;
}
.MISTypeBody{
    color: white;
    margin-left: 4px;
    margin-top: 4px;
    z-index: 10;
}
