.SearchBox{
    min-width: 500px;
    text-align: center;
    position: absolute;
    top: 125px;
    right: 0;
    left: 0;
    /* background-color: slateblue; */
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: 0.8;
    max-width: 1600px;
}



@media only screen and (max-width: 550px) {
    .SearchBox{
        /* background-color: springgreen; */
        margin-top: 10px;
    }
   
}

.Round {
    
    padding-left: 10px;
    width: 80%;
    height: 30px;
    border-radius: 20px 0px 0px 20px;
    border: 1px rgb(255, 255, 255) solid;
  

}

.SearchButton{
    height: 34px;
    background-color: white;
    border: none;
    /* border-left: 1px rgba(97, 97, 97, 0.4) solid; */
    border-radius: 0 20px 20px 0;  
}
.SearchIcon{
    padding-right: 10px;
    padding-left: 10px;
}
.SearchIcon:hover{
    cursor: pointer;
}

.suggestion{cursor: pointer;}