/* .TTContainer{
    margin: auto;
 position: fixed;
 width: 100%;
 background-color: burlywood;
}
.TTContainer:hover{
    background-color: chartreuse;
    box-shadow: 2px 2px 2px black;
} 
.TTI{
    display: inline-block;
    margin-right:10px;
    margin-left:10px;
} */

.divTT{
    background-color: transparent;
    border: none;
}
.divTT:hover{
    /* box-shadow: 0 0 11px rgb(255, 0, 0); */
    /* background-color: rgb(186, 234, 248); */
    /* border: 1px solid rgb(255, 255, 255); */
    /* color: floralwhite; */
    /* border: 2px solid white; */
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    transition:0.5s ease-in;
  
}
.main-nav:hover{
    box-shadow: 0 0 11px rgb(7, 76, 107);
}